<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Resources.Global.Site_Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/jquery.flex.min.js"></script>
        <link href="~/Content/Flex.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        $(".flex").flex();
    });
	</script>
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(@Resources.Global.Layout_SiteTitle, "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                       @* <table>
                            <td align="right" valign="bottom" class="langsDropDownTd">
                                <div class="langsDropDown_0">
                                    <div class="langsDropDown_1">
                                        <ul class="langsDropDown">
                                            <li selectedlang="true">English</li>
                                            <li selectedlang="false" onclick="W.App.CreateApp.switchLng('de',event)"><a href="http://de.wix.com/website/templates/html/all/1" title="Deutsch">Deutsch</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </table>*@
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink(@Resources.Global.Layout_LinkText_Home, "Index", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_LinkText_About, "About", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_LinkText_Services, "Services", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_LinkText_Cases, "Cases", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_LinkText_Contact, "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <section class="featured">
                <div class="content-wrapper">
                    <hgroup class="title">
                        <h1>@ViewBag.Title</h1>
                        <h2>@ViewBag.Message</h2>
                    </hgroup>
                    <p>
                        @Resources.Global.Layout_Description
                    </p>
                </div>
            </section>
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>@Resources.Global.Layout_CopyRight_Left &copy; @DateTime.Now.Year @Resources.Global.Layout_CopyRight_Right</p>
                   @* <p>@System.Threading.Thread.CurrentThread.CurrentUICulture.ToString()</p>*@
                </div>
            </div>
        </footer>
    </body>
</html>
