<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Resources.Global.Site_Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(@Resources.Global.Layout_SiteTitle, "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        
                    </section>
                    <nav>
                        <ul id="menu">
<<<<<<< HEAD
                            <li>@Html.ActionLink(@Resources.Global.Layout_LinkText_Home, "Index", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_LinkText_About, "About", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_LinkText_Services, "Services", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_LinkText_Cases, "Cases", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_LinkText_Contact, "Contact", "Home")</li>
=======
                            <li>@Html.ActionLink(@Resources.Global.Layout_Home_LinkText, "Index", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_About_LinkText, "About", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_Service_LinkText, "Services", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_Case_LinkText, "Cases", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Global.Layout_Contact_LinkText, "Contact", "Home")</li>
>>>>>>> 6c9bb20d7e8ac432917909174e3e087fd5e4f587
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <section class="featured">
                <div class="content-wrapper">
                    <hgroup class="title">
                        <h1>@ViewBag.Title</h1>
                        <h2>@ViewBag.Message</h2>
                    </hgroup>
                    <p>
                        @Resources.Global.Layout_Description
                    </p>
                </div>
            </section>
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
<<<<<<< HEAD
                    <p>@Resources.Global.Layout_CopyRight_Left &copy; @DateTime.Now.Year @Resources.Global.Layout_CopyRight_Right</p>
                    @*<p>@System.Threading.Thread.CurrentThread.CurrentUICulture.ToString()</p>*@
=======
                    <p>&copy; @DateTime.Now.Year - @Resources.Global.Layout_Copyright</p>
>>>>>>> 6c9bb20d7e8ac432917909174e3e087fd5e4f587
                </div>
            </div>
        </footer>
    </body>
</html>
