@{
    ViewBag.Title = @Resources.Global.About_Title;
}

<h3>@Resources.Global.About_Header_Title</h3>
<ol class="round">
    <li class="one">
        <h5>@Resources.Global.About_List_Title1</h5>
        @Resources.Global.About_List_Description1
    </li>
    <li class="two">
        <h5>@Resources.Global.About_List_Title2</h5>
        @Resources.Global.About_List_Description2
    </li>
    <li class="three">
        <h5>@Resources.Global.About_List_Title3</h5>
        @Resources.Global.About_List_Description3
    </li>
</ol>