@{
    ViewBag.Title = @Resources.Global.Contact_Title;
}

<h2>@Resources.Global.Contact_Header_Title</h2>
    <section class="contact">
    <header>
        <h3>@Resources.Global.Contact_Phone_Title</h3>
    </header>
    <p>
        <span class="label">@Resources.Global.Contact_CellPhone_Title</span>
        <span>0933096894</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@Resources.Global.Contact_Email_Title</h3>
    </header>
    <p>
        <span class="label">@Resources.Global.Contact_Support_Email_Title</span>
        <span><a href="mailto:725Soft@gmail.com">725Soft@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@Resources.Global.Contact_Address_Title</h3>
    </header>
    <p>
        @Resources.Global.Contact_Address_Description
    </p>
</section>