@{
    ViewBag.Title = @Resources.Global.Home_Index_Title;
}

<h3>@Resources.Global.Home_Index_HeaderText</h3>
<ol class="round">
    <li class="one">
        <h5>@Resources.Global.Home_Index_ListTitle1</h5>
        @Resources.Global.Home_Index_ListDescription1
    </li>

    <li class="two">
        <h5>@Resources.Global.Home_Index_ListTitle2</h5>
        @Resources.Global.Home_Index_ListDescription2
    </li>

    <li class="three">
        <h5>@Resources.Global.Home_Index_ListTitle3</h5>
        @Resources.Global.Home_Index_ListDescription3
    </li>
</ol>
