@{
<<<<<<< HEAD
    ViewBag.Title = @Resources.Global.Index_Title;
}

<h3>@Resources.Global.Index_Header</h3>
<ol class="round">
    <li class="one">
        <h5>@Resources.Global.Index_List_Header1</h5>
        @Resources.Global.Index_List_Description1
=======
    ViewBag.Title = @Resources.Global.Home_Index_Title;
}

<h3>@Resources.Global.Home_Index_HeaderText</h3>
<ol class="round">
    <li class="one">
        <h5>@Resources.Global.Home_Index_ListTitle1</h5>
        @Resources.Global.Home_Index_ListDescription1
>>>>>>> 6c9bb20d7e8ac432917909174e3e087fd5e4f587
    </li>
    <li class="two">
<<<<<<< HEAD
        <h5>@Resources.Global.Index_List_Header2</h5>
        @Resources.Global.Index_List_Description2
=======
        <h5>@Resources.Global.Home_Index_ListTitle2</h5>
        @Resources.Global.Home_Index_ListDescription2
>>>>>>> 6c9bb20d7e8ac432917909174e3e087fd5e4f587
    </li>
    <li class="three">
<<<<<<< HEAD
        <h5>@Resources.Global.Index_List_Header3</h5>
        @Resources.Global.Index_List_Description3
    </li>
    <li class="four">
        <h5>@Resources.Global.Index_List_Header4</h5>
        @Resources.Global.Index_List_Description4
=======
        <h5>@Resources.Global.Home_Index_ListTitle3</h5>
        @Resources.Global.Home_Index_ListDescription3
>>>>>>> 6c9bb20d7e8ac432917909174e3e087fd5e4f587
    </li>
</ol>
