@{
    ViewBag.Title = @Resources.Global.Services_Title;
}

<h3>@Resources.Global.Services_Header_Title</h3>
<ol class="round">
    <li class="one">
        <h5>@Resources.Global.Services_List_Title1</h5>
        @Resources.Global.Services_List_Description1
    <li class="two">
        <h5>@Resources.Global.Services_List_Title2</h5>
        @Resources.Global.Services_List_Description2
    </li>
    <li class="three">
        <h5>@Resources.Global.Services_List_Title3</h5>
        @Resources.Global.Services_List_Description3
    </li>
    <li class="four">
        <h5>@Resources.Global.Services_List_Title4</h5>
        @Resources.Global.Services_List_Description4
    </li>
</ol>
